// Place all the styles related to the stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
form li {
  padding-left: 30px;
  text-align: right;
  position: relative;
  left: -20rem;
}
